body {
    background: url('image_blanc.JPEG') no-repeat center center fixed !important;
    background-size: cover !important;
}

/* Centrer le titre */
h2 {
    color: #2E8B57;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center; /* Centre le texte horizontalement */
}
/* Champs de saisie */
.input-group {
    margin-bottom: 15px;
    text-align: left;
    height: 150px;
}

.input-group label {
    font-weight: bold;
    color: #333333;
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group textarea {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f0f0f0; /* Fond gris clair */
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur totale */
}

.input-group input:focus, .input-group textarea:focus {
    border-color: #2E8B57;
    box-shadow: 0 0 8px rgba(46, 139, 87, 0.5);
    outline: none;
}

/* Centrer le bouton */
.btn {
    background-color: #2E8B57;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
    display: block; /* Transforme le bouton en bloc */
    margin: 20px auto; /* Centre le bouton horizontalement */
}


.btn:hover {
    background-color: blue;
}

/* Responsive */
@media (max-width: 500px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
}
